* {
    box-sizing: border-box;
}


body {
    font-family: Arial;
    margin: 0;
    
}

.TopContainer{
  position: -webkit-sticky;
  position: sticky;
background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,16,1) 35%, rgba(0,212,255,1) 100%);
    
}


.header {
    
    padding: 20px;
    text-align: center;
    color: white;
    font: 150px Times New Roman, sans-serif;
/*
    background: #1abc9c;
    color: white;
*/
    
}

#pageTitle{
  font-size: 60px;
}


#navbar {
  overflow: hidden;
  background-color: #333;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font: 20px Times New Roman, sans-serif; 
}

#navbar a:hover {
  background-color: rgba(38, 196, 34, .4);
  color: rgb(15, 3, 247);;
}

#navbar a.active {
  background-color: #4CAF50;
  color: white;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

#current{
    background-color: red;
    cursor: default;
}


#current :hover{
    background-color: red;
    color: white;
    cursor: default;
}

.row {
    display: flex;
    flex-wrap: wrap;
}


.side {
    flex: 6%;
    background-color: #7f2a2a;
    padding: 20px;
}


.main {
    flex: 70%;
    background-color: #8cbf39;
    padding: 20px;
}


.myselfimg {
    margin-left: 16px;
    background-color: #aaa;
    width: fit-content;
    padding: 3%;
}

#topButton {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#topButton:hover {
  background-color: #555;
}


.footer {
    padding: 20px;
    text-align: center;
    background: #3794a2;
}


@media (max-width: 500px) {
    .row, .navbar {
        flex-direction: column;
    }
}
